body {
    background: #ff000091;
    min-height: 100vh;
    padding: 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{      
        position: fixed;
        left: 0;
        bottom: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
}

.upload-btn {
    margin-top: 15px;
    width: 20%;
}

.wrapper{
    width: 50%;
    background: white;
    padding: 40px;
    border-radius: 25px;
}

.lecture{
    margin-top: 15px;
}

.rooms{
    margin-top: 15px;
}

.upload{
    margin-top: 15px;
    text-align: center;
   
}