<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs') %>
<body>
		
	<div class="mb-3 wrapper">
		<form action="/" method="post" id='uploadFiles-form'>
			<div class="rooms">
				<h2><label for="formFile" class="form-label">Rooms csv:</label></h2>
				<input class="form-control" type="file" id="formFileRoom" accept=".csv" required>
			</div>
			<div class="lecture">
				<h2><label for="formFile" class="form-label">Lectures csv:</label></h2>
				<input class="form-control" type="file" id="formFileLecture" accept=".csv" required>	
			</div>
			<div class="upload">
				<button type="submit" class="btn btn-primary upload-btn">Upload</button>
			</div>
		</form>
	</div>
	<%- include('./partials/footer.ejs') %>	

	<script src="/socket.io/socket.io.js"></script>
	<script src="js/main.js"></script>
</body>
</html>