<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs') %>


<body>
		
	<div class="mb-3 wrapper">
		<form action="/" method="post" id='form'>
			<div class="rooms">
				<h2><label for="formFile" class="form-label">Rooms csv:</label></h2>
				<input class="form-control" type="file" id="formFileRoom" required>
			</div>
			<div class="lecture">
				<h2><label for="formFile" class="form-label">Lectures csv:</label></h2>
				<input class="form-control" type="file" id="formFileLecture" required>	
			</div>
			<div class="upload-div">
				<button type="submit" class="btn btn-primary upload-btn">Upload</button>
			</div>
		</form>
		<script>
			const form = document.getElementById("form");
			form.addEventListener("submit", submitForm);
			function submitForm(e) {
				e.preventDefault();
				const fileRoom    = document.getElementById("formFileRoom");
				const fileLecture = document.getElementById("formFileLecture");
				const formData    = new FormData();
				formData.append("files", fileRoom.files[0]);
				formData.append("files", fileLecture.files[0]);
				const options = {
					method: 'post',
					body: formData
				}
				fetch('/', options);
				location.href = '/success';
			}
		</script>
	</div>

	


	
	<%- include('./partials/footer.ejs') %>	
</body>
</html>