<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs') %>


<body>
	
	<div class="mb-3 wrapper">
		<div class="rooms">
			<h2><label for="formFile" class="form-label">Rooms csv:</label></h2>
			<input class="form-control" type="file" id="formFile">
		</div>
		<div class="lecture">
			<h2><label for="formFile" class="form-label">Lecture csv:</label></h2>
			<input class="form-control" type="file" id="formFile">	
		</div>
		<div class="upload-div">
			<button type="button" class="btn btn-primary upload-btn">Upload</button>
		</div>
	</div>

	


	
	<%- include('./partials/footer.ejs') %>	
</body>
</html>