<!DOCTYPE html>
<html>
<%- include('./partials/header.ejs') %>


<body>
	
	<div class="mb-3">
		<label for="formFile" class="form-label">Rooms csv:</label>
		<input class="form-control" type="file" id="formFile">
		<label for="formFile" class="form-label">Lecture csv:</label>
		<input class="form-control" type="file" id="formFile">
	</div>

	


	
	<%- include('./partials/footer.ejs') %>	
</body>
</html>